.is-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ourFooter {
  /* position: absolute; */
  margin-top: 20px;
}
.item{
  display:flex;
  flex-direction:column;
  margin-top: auto;
}
.is-fixed {
  display: flex;
  width: 200px!important;
  height: auto;
  justify-self: center;
}

.has-bg-img{
  background: url('ACL image.jpeg');
  background-size:cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height:50%%
}

.hero-body{
  display: flex !important;
  align-items: flex-end;
}

.site-title {
  color:black;
  background-color: rgba(255, 255, 255, 0.75);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(255, 255, 255, 0.75)), color-stop(0.67, rgba(255, 255, 255, 0)));
  padding-top: 100px;

}

.box{
  animation: slide-up 0.4s ease;
}

.card-content{
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}