.is-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ourFooter {
  /* position: absolute; */
  margin-top: 20px;
}
.item{
  display:flex;
  flex-direction:column;
  margin-top: auto;
}
.is-fixed {
  display: flex;
  width: 200px!important;
  height: auto;
  justify-self: center;
}